@media (max-width: 450px) {

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }

      .header{
        display: flex;
        flex-direction: column;

        background-color: var(--primary);
        color: var(--white);
        padding: 12px;
        gap: 10px;
    }
    
    .header__logo{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header__poke{
        width: 28px;
        height: 28px;
    }

    .header__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .header__search{
        display: flex;
        justify-content: space-between;
    }

    .icon__lupa{
        color: var(--primary);
    }

    .header__search-icon{
        display: flex;
        padding: 8px 16px 8px 12px;
        gap: 8px;

        width: 80%;
        height: 32px;

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 16px;

        background-color: var(--white);
        align-items: center;
    }

    .input__search{
        width: 100%;
    }

    .header__number{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;

        background: var(--white);
        color: var(--primary);

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    body{
        background-color: var(--primary);
    }

    .main{
        padding: 12px;
        height: 85vh;
        max-height: 500px;
    }

    .main__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        overflow-y: scroll;
        padding: 12px 12px 12px 12px;
        gap: 8px;

        height: 100%;
        background: #FFFFFF;

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }

    .main__list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 104px;
        height: 108px;
        
        background: var(--white);
        
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

    }

    .main__list-item-name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #1D1D1D;
        
    }

    .main__list-item-number{
        width: 22px;
        height: 12px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;

        margin-left: 85%;
        display: flex;
        align-items: center;
        text-align: right;

        color: var(--medium-gray);

    }

    .main__list-item-image{
        width: 72px;
        height: 72px;
    }
}